<div class="row border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>设备管理</h2>
    </div>
</div>
<div class="wrapper-content wrapper-content-adjusted">
    <div class="row">
        <div class="ibox float-e-margins m-b-sm">
            <div class="ibox-content clear">
                <div class="row m-b-sm m-t-sm">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                        <select class="form-control" ng-model="ctrl.status" ng-change="ctrl.search()">
                            <option value="">所有设备</option>
                            <option value="damage">报废</option>
                            <option value="work">使用中</option>
                            <option value="check">需检查</option>
                            <option value="lose">丢失</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
                        <div class="input-group">
                            <input type="text" placeholder="编号" class="input-sm form-control"
                                   ng-keypress="ctrl.search($event.which === 13)"
                                   ng-model="ctrl.code">
                            <span class="input-group-btn">
                                        <button class="ladda-button btn btn-sm btn-primary block full-width m-b"
                                                ladda="ctrl.pending"
                                                data-style="zoom-out"
                                                ng-click="ctrl.search()">查询
                                        </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="project-list">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <td style="width: 7%">编号</td>
                            <td style="width: 7%">枪号</td>
                            <td style="width: 8%">充电桩类型</td>
                            <td style="width: 6%">价格</td>
                            <td style="width: 7%">启动时长</td>
                            <td style="width: 7%">心跳间隔</td>
                            <td style="width: 7%">固件版本</td>
                            <td style="width: 7%">使用状态</td>
                            <td style="width: 7%">设备状态</td>
                            <!--<td style="width: 10%">电量</td>-->
                            <!--<td style="width: 10%">行程状态</td>-->
                            <!--<td style="width: 10%">操作</td>-->
                            <!--<td style="width: 10%">最近操作时间</td>-->
                            <td style="width: 7%">最近连接时间</td>
                            <td style="width: 7%">最近更新时间</td>
                            <td style="width: 7%">位置</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="kv in ctrl.list">
                            <td class="project-status">
                                <small ng-bind="kv.code"></small>
                            </td>
                            <td class="project-status">
                                <small ng-bind="kv.plug"></small>
                            </td>
                            <td class="project-status">
                                <small ng-bind="kv.model"></small>
                            </td>
                            <td class="project-status">
                                <small ng-bind="kv.perUnit"></small>
                            </td>
                            <td class="project-status">
                                <small ng-bind="kv.startLength"></small>
                            </td>
                            <td class="project-status">
                                <small ng-bind="kv.heartLength"></small>
                            </td>
                            <td class="project-status">
                                <small ng-bind="kv.version"></small>
                            </td>
                            <td class="project-status">
                                <small ng-bind="kv.inUse === true ? '使用中' : '未使用'"></small>
                            </td>
                            <td class="project-status">
                                <small class="text-navy" ng-class="{'text-danger' : kv.status!=='work'}" ng-bind="ctrl.transformStatus(kv.status)"></small>
                            </td>
                            <!--<td class="project-status">-->
                                <!--<small ng-bind="kv.operateOn | date:'yyyy-MM-dd'"></small>-->
                            <!--</td>-->
                            <td class="project-status">
                                <small ng-bind="kv.connectOn | date:'yyyy-MM-dd'"></small>
                            </td>
                            <td class="project-status">
                                <small ng-bind="kv.updateOn | date:'yyyy-MM-dd'"></small>
                            </td>

                            <!--<td class="project-status">-->
                                <!--<small ng-bind="kv.volume"></small>-->
                                <!--<div class="progress progress-mini">-->
                                    <!--<div class="progress-bar"-->
                                         <!--ng-style="{'width':kv.volume>3.9 ? '100%' : kv.volume > 3.8 ? '75%' : kv.volume > 3.72 ? '50%' : kv.volume > 3.65 ? '25%' : '5%'}"-->
                                         <!--ng-class="{'progress-bar-danger':!kv.volume || kv.volume < 3.65,-->
                                         <!--'progress-bar-warning':kv.volume<3.72,-->
                                         <!--'progress-bar-info':kv.volume<3.8}"></div>-->
                                <!--</div>-->
                            <!--</td>-->

                            <!--<td class="project-status">-->
                                <!--<span class="label label-primary text-hover outline-none m-b-xs operate"-->
                                      <!--ng-click="ctrl.viewHistory(kv.id)">查看报修记录</span>-->
                                <!--<span class="label label-primary text-hover outline-none m-b-xs operate"-->
                                      <!--ng-if="kv.problemFlag"-->
                                      <!--ng-click="ctrl.maintaince(kv,$index)">处理报修</span>-->
                                <!--<span class="label label-primary text-hover outline-none m-b-xs operate" ng-click="ctrl.changeDevNo(kv)">修改编号</span>-->
                            <!--</td>-->

                            <!--<td class="project-status">-->
                                <!--<small ng-bind="kv.updateOn | date:'yyyy-MM-dd'"></small>-->
                            <!--</td>-->
                            <td class="project-status">
                                <button class="ladda-button btn btn-sm btn-primary block"
                                                type="image"
                                                src="" 
                                                data-style="zoom-out"
                                                ng-click="ctrl.device_getLocation(kv)">
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot ng-if="ctrl.list.length ===0">
                        <tr>
                            <td class="text-center" colspan="9">暂无设备</td>
                        </tr>
                        </tfoot>
                    </table>

                    <div class="row" ng-if="ctrl.list.length > 0">
                        <render-pager render="ctrl.getList(start)" limit="{{ctrl.itemsPerPage}}"
                                      start="ctrl.currentPage" total="{{ctrl.totalCount}}" restart="ctrl.restart"></render-pager>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>