<div class="row border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>押金退还</h2>
    </div>
</div>
<div class="wrapper-content wrapper-content-adjusted">
    <div class="row">
        <div class="ibox float-e-margins m-b-sm">
            <div class="ibox-content clear">
                <div class="row m-b-sm m-t-sm">
                    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
                        <div class="input-group">
                            <input type="text" placeholder="客户电话／姓名" class="input-sm form-control"
                                   ng-keypress="ctrl.search($event.which === 13)"
                                   ng-model="ctrl.code">
                            <span class="input-group-btn">
                                <button class="ladda-button btn btn-sm btn-primary block full-width m-b"
                                        ladda="ctrl.pending"
                                        data-style="zoom-out"
                                        ng-click="ctrl.search()">查询
                                </button></span>
                        </div>
                    </div>
                </div>

                <div class="project-list">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <td style="width: 10%">客户姓名</td>
                            <td style="width: 10%">联系电话</td>
                            <td style="width: 10%">来源</td>
                            <td style="width: 10%">申请日期</td>
                            <td style="width: 10%">押金余额</td>
                            <td style="width: 10%">操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="kv in ctrl.list">
                            <td class="project-status">
                                <small class="text-navy text-hover outline-none"
                                       ng-bind="kv.customer.name"
                                       ng-click="ctrl.viewDetail(kv.customer._id)"></small>
                            </td>
                            <td class="project-status">
                                <small ng-bind="kv.customer.phone | numater"></small>
                            </td>
                            <td class="project-status">
                                <small ng-bind="kv.channel"></small>
                            </td>
                            <td class="project-status">
                                <small ng-bind="kv.createOn| date:'yyyy-MM-dd HH:mm'"></small>
                            </td>
                            <td class="project-status">
                                <small ng-bind="kv.amount ? (kv.amount/100 |number: 2) : 0"></small>
                            </td>
                            <td class="project-status">
                                <span class="label label-primary text-hover outline-none m-b-xs"
                                      ng-if="kv.result === '待退款'"
                                      ng-click="ctrl.maintain(kv,$index)">待退款</span>
                            </td>

                        </tr>
                        </tbody>
                        <tfoot ng-if="ctrl.list.length === 0">
                        <tr>
                            <td class="text-center" colspan="6">暂无数据</td>
                        </tr>
                        </tfoot>
                    </table>

                    <div class="row" ng-if="ctrl.list.length > 0">
                        <render-pager render="ctrl.getList(start)" limit="{{ctrl.itemsPerPage}}"
                                      start="ctrl.currentPage" total="{{ctrl.totalCount}}"
                                      restart="ctrl.restart"></render-pager>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>